https://github.com/judian17/svdquant-whls-for-windows/releases/download/0.14V1/nunchaku-0.1.4+torch2.5-cp310-cp310-win_amd64.whl; platform_system == "Windows" and python_version == "3.10"
https://github.com/judian17/svdquant-whls-for-windows/releases/download/0.14V1/nunchaku-0.1.4+torch2.5-cp311-cp311-win_amd64.whl; platform_system == "Windows" and python_version == "3.11"
git+https://github.com/asomoza/image_gen_aux.git
git+https://github.com/xhinker/sd_embed.git@main