--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.7.0+cu126
torchvision
torchaudio
transformers>=4.49.0
sentencepiece>=0.1.96
huggingface-hub
einops
opencv-python
imageio
imageio-ffmpeg
gradio>=5.28.0
git+https://github.com/huggingface/diffusers.git
protobuf
gguf
torchao
git+https://github.com/huggingface/accelerate.git
bitsandbytes
git+https://github.com/huggingface/optimum-quanto.git
git+https://github.com/huggingface/peft.git
patch_conv
triton-windows; platform_system == "Windows"
triton; platform_system == "Linux"
piexif
modelscope
safetensors
git+https://github.com/huggingface/controlnet_aux.git
cupy-cuda12x
git+https://github.com/XPixelGroup/BasicSR.git
realesrgan
gfpgan
ftfy
mediapipe
onnxruntime-gpu
hf_xet
xformers
git+https://github.com/newgenai79/easy_dwpose.git