absl-py==2.1.0
accelerate @ git+https://github.com/huggingface/accelerate.git@a702364256ebc94477e0bc33c77615aaf35e0413
addict==2.4.0
aiofiles==23.2.1
annotated-types==0.7.0
anyio==4.8.0
asttokens==3.0.0
basicsr @ git+https://github.com/XPixelGroup/BasicSR.git@8d56e3a045f9fb3e1d8872f92ee4a4f07f886b0a
bitsandbytes==0.45.3
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
comm==0.2.2
contourpy==1.3.1
controlnet-aux==0.0.9
cupy-cuda12x==13.4.0
cycler==0.12.1
debugpy==1.8.13
decorator==5.2.1
diffusers @ git+https://github.com/huggingface/diffusers.git@124ac3e81f52da1d5c768c5c217ddd8ca047ce08
einops==0.8.1
executing==2.2.0
facexlib==0.3.0
fastapi==0.115.11
fastrlock==0.8.3
ffmpy==0.5.0
filelock==3.18.0
filterpy==1.4.5
fonttools==4.56.0
fsspec==2025.3.0
ftfy==6.3.1
future==1.0.0
gfpgan==1.3.8
gguf==0.14.0
gradio==5.21.0
gradio_client==1.7.2
groovy==0.1.2
grpcio==1.71.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.29.3
idna==3.10
image_gen_aux @ git+https://github.com/asomoza/image_gen_aux.git@b3ba07be8cba37f9ec2a5748ae5d86cc3879e228
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_metadata==8.6.1
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.5
jedi==0.19.2
Jinja2==3.1.6
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.8
kornia==0.8.0
kornia_rs==0.1.8
lark==1.2.2
lazy_loader==0.4
llvmlite==0.44.0
lmdb==1.6.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
modelscope==1.23.2
mpmath==1.3.0
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.3
numba==0.61.0
numpy==2.1.3
nunchaku @ https://huggingface.co/mit-han-lab/nunchaku/resolve/main/nunchaku-0.1.4%2Btorch2.6-cp311-cp311-win_amd64.whl?download=true#sha256=890967ed71cbc4f883e6396a624d9a7b1e6400cf755f881b9fa869a9012c56fb
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
optimum-quanto @ git+https://github.com/huggingface/optimum-quanto.git@9af98699327bba17aeefcb9c9af3b810f69c1971
orjson==3.10.15
packaging==24.2
pandas==2.2.3
parso==0.8.4
patch-conv==0.0.1b0
peft @ git+https://github.com/huggingface/peft.git@2f063e6342235842a00bca150a98854b89117986
piexif==1.1.3
pillow==11.1.0
platformdirs==4.3.6
prompt_toolkit==3.0.50
protobuf==6.30.1
psutil==7.0.0
pure_eval==0.2.3
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
Pygments==2.19.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2025.1
pywin32==309
PyYAML==6.0.2
pyzmq==26.3.0
realesrgan==0.3.0
regex==2024.11.6
requests==2.32.3
rich==13.9.4
ruff==0.10.0
safehttpx==0.1.6
safetensors==0.5.3
scikit-image==0.25.2
scipy==1.15.2
sd_embed @ git+https://github.com/xhinker/sd_embed.git@f2a2c135f398055e0cdbe34b80dd1dd08d59acc6
semantic-version==2.10.0
sentencepiece==0.2.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
spandrel==0.4.1
stack-data==0.6.3
starlette==0.46.1
sympy==1.13.1
tb-nightly==2.20.0a20250314
tensorboard-data-server==0.7.2
tifffile==2025.3.13
timm==0.6.7
tokenizers==0.21.1
tomlkit==0.13.2
torch==2.6.0+cu124
torchao==0.9.0
torchaudio==2.6.0+cu124
torchvision==0.21.0+cu124
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.49.0
triton @ https://huggingface.co/datasets/newgenai79/Windows_wheels/resolve/main/TRITON/triton-3.1.0-cp311-cp311-win_amd64.whl?download=true#sha256=74f5aaee75cbff825b772dec9b4813211a1502a80784846a9213c15259a3a900
typer==0.15.2
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
uvicorn==0.34.0
wcwidth==0.2.13
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.13
yapf==0.43.0
zipp==3.21.0
