--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.5.1+cu124
torchvision==0.20.1+cu124
torchaudio
transformers>=4.49.0
sentencepiece>=0.1.96
huggingface-hub
einops
opencv-python
imageio
imageio-ffmpeg
gradio
git+https://github.com/huggingface/diffusers.git
protobuf
gguf
torchao
git+https://github.com/huggingface/accelerate.git
bitsandbytes
git+https://github.com/huggingface/optimum-quanto.git
git+https://github.com/huggingface/peft.git
patch_conv
triton==3.1.0
piexif
modelscope
safetensors
controlnet-aux
cupy-cuda12x
git+https://github.com/XPixelGroup/BasicSR.git
realesrgan
gfpgan
ftfy
